@import '../../../style-palette';

.courses-container {
    padding: 0 !important; 
    margin-bottom: 1rem !important;

    .courses-container_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 4rem;

        h1 {
            font-size: 2.3rem;
            line-height: 68px;
            margin: 0;
            letter-spacing: 1px;
            word-spacing: 1px;
            text-align: center;
            font-weight: 500;
            color: $text-dark-grey;
        }
    
        h5 {
            font-size: 1.1rem;
            margin: 0;
            font-weight: normal;
            word-spacing: 2px;
            text-align: center;
            color: $text-grey;
        }
    }

    .courses-indicator {
        display: none;
    }

    .courses-list {
        padding: 1rem 2rem;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 90%;
        margin: 0 auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .courses-list_wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: .6rem 1rem;
            justify-items: center;
            gap: 1.8rem;
        }

    }
}
  
@media screen and (max-width: 768px) {
    .courses-container {
        padding: 0 !important; 
        margin-bottom: 1rem !important;

        .courses-indicator {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .6rem;
            font-size: small;
            font-style: italic;
        }
    
        .courses-container_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1.1rem;
    
            h1 {
                font-size: 1.9rem;
                line-height: 48px;
                margin: 0;
                letter-spacing: 1px;
                word-spacing: 1px;
                text-align: center;
                font-weight: 500;
                color: $text-dark-grey;
            }
        
            h5 {
                font-size: 1rem;
                margin: 0;
                font-weight: normal;
                word-spacing: 2px;
                text-align: center;
                color: $text-grey;
            }
        }
    
        .courses-list {
            padding: 1rem;
            display: block;
            overflow-x: scroll;
            overflow-y: hidden;
            width: 90%;
            margin: 0 auto;
    
            .courses-list_wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: .6rem 1rem;
                justify-items: center;
                gap: 1.8rem;
            }
        }
    }
}
