@import '../../../../style-palette';

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 2rem;
    background: $bg-dark;
    color: $text-white;

    .nav-logo {
        flex: .3;
    }

    ul {
        flex: .5;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .7rem;

        li {
            cursor: pointer;
            pointer-events: all;
            a {
                color: white;
            }

            &:hover,
            &:active,
            &:focus {
                a {
                    color: #dbffd7;
                    border-bottom: 3px solid #dbffd7;
                    transition: 0.2s ease-in all;
                }
            }
        }
    }

    .nav-avatar {
        flex: .1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .7rem;
    }

    .mobile-toggle-btn {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .8rem 2rem;
        background: $bg-dark;
        color: $text-white;

        .nav-logo {
            flex: .7;
        }
    
        ul {
            display: none;
        }

        .nav-avatar {
            flex: .2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: .7rem;
        }

        .mobile-toggle-btn {
            display: block;
            pointer-events: all;
        }

    }
}

.mobile-nav-links {
    color: $text-dark !important;
    overflow: hidden !important;

    a {
        color: $text-dark !important;
    }

    ul {
        margin-top: 4rem;
        width: 96.5vw;
        padding: 0 !important;
        li {
            list-style-type: none;
            
            a {
                display: block;
                padding: .6rem;
                margin-bottom: .4rem;
            }
        }
    }
}
