@import '../../../../style-palette';

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 2rem;
    background: $bg-dark;
    color: $text-white;

    .nav-logo {
        flex: .3;

        a {
            .logo-full {
                height: 40px;
                scale: .7;
            }

            .logo-short {
                display: none;
            }
        }
    }

    ul {
        flex: .5;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .7rem;

        li {
            cursor: pointer;
            pointer-events: all;
            a {
                color: white;
            }

            &:hover,
            &:active,
            &:focus {
                a {
                    color: #dbffd7;
                    border-bottom: 3px solid #dbffd7;
                    transition: 0.2s ease-in all;
                }
            }
        }
    }

    .mobile-toggle-btn {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .8rem 2rem;
        background: $bg-dark;
        color: $text-white;

        .nav-logo {
            flex: .7;

        }
    
        ul {
            display: none;
        }

        .mobile-toggle-btn {
            display: block;
            pointer-events: all;
        }

    }
}

@media screen and (max-width: 596px) {

    nav {
    
        .nav-logo {
    
            a {
                .logo-full {
                    display: none;
                }
    
                .logo-short {
                    display: block;
                    width: 40px;
                    height: 40px;
                    scale: .7;
                }
            }
        }
    
    }
    
}

.mobile-nav-links {
    color: $text-dark !important;
    overflow: hidden !important;

    a {
        color: $text-dark !important;
    }

    ul {
        margin-top: 4rem;
        width: 96.5vw;
        padding: 0 !important;
        li {
            list-style-type: none;

            &:first-child {
                padding-top: .5rem;
            }
            
            a {
                display: block;
                padding: .6rem;
                margin-bottom: .4rem;
            }
        }
    }
}
