@import '../../../style-palette';

.currency-container {
    background: hsl(240, 33%, 98%);
    padding: 0 !important;

    .currency-container_wrapper {
        padding: 1rem 3rem;
    }
}


@media screen and (max-width: 856px) {
    .currency-container {
    
        .currency-container_wrapper {
            padding: 1rem 2rem;
        }
    }
}

@media screen and (max-width: 686px) {
    .currency-container {
    
        .currency-container_wrapper {
            padding: 1rem .5rem;
        }
    }
}
