.custom-button {
    &:disabled {
        background: hsla(0, 0%, 50%, .8) !important;
        color: white !important;
        font-weight: bold;
        pointer-events: none !important;
        cursor: default !important;
    }
}


@media screen and (max-width: 214px) {
    .custom-button {
        font-size: .7rem !important;
    }
}
