@import '../../../style-palette';

.checkout-container {
    padding: 0 !important;

    .checkout-container_wrapper {
        padding:0 3rem .8rem;
        .checkout-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap:.2rem;
            }
        }
        
        .checkout-button {
            button {
                width: 40%;
            }
        }

        .checkout-empty {
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                scale: .8;
            }

            p{
                text-align: center;
            }
        }
    }
}


.cart-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;

    .cart-content_product {
        display: flex;
        align-items: flex-start;
        gap: .4rem;

        h5 {
            margin: 5px 0 0;
        }

        p {
            margin: 0;
            font-size: 13px;
        }

        img {
            width: 130px;
            height: 80px;
            scale: .8;
            border-radius: 6px;
        }
    }

    .cart-content_sub-details {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 684px) {
    .checkout-container {
        padding: 0 !important;
    
        .checkout-container_wrapper {
            padding:0 1rem .8rem;
            
            .checkout-button {
                button {
                    width: 100%;
                }
            }
    
        }
    }
    .cart-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        margin-bottom: 1rem;
    
        .cart-content_product {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .4rem;
    
            img {
                width: 130px;
                height: 80px;
                scale: 1;
            }
        }
    
    }
}

@media screen and (max-width: 324px) {
    .cart-content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
        margin-bottom: 1rem;
    
        .cart-content_product {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .4rem;
    
            img {
                width: 130px;
                height: 80px;
                scale: 1;
            }
        }

        .cart-content_sub-details {
            p {
                margin: 0;
            }
        }
    
    }
}
