$primary-color : #00570c;
$primary-color-dark : #01420a;
$secondary-color : #580909;
$secondary-color-dark : #3c0202;
$bg-dark : #00060e;
$text-dark: #00060c;
$text-dark-grey: #2c2c2c;
$text-white: #ffffff;
$text-grey: #a8a8a8;
$text-test:#ffa500;
