@import './style-palette';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header, main, footer {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}